header {
    padding: 15px 0;
}
.exercice {
    background-color: #f2f2f2;
    margin: 25px 0;
    padding: 40px 0;
    border-radius: 5px;
}

#biggerText {
    transition: font-size 0.5s;
}

#rectangle {
    height: 100px;
    width: 100px;
    background-color: #007bff;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: top 0.5s, background-color 0.2s, height 0.5s;
}

#rectangle span {
    color: #ffffff;
}